<button class="createButton" (click)="isOpen = !isOpen" mat-raised-button color="accent">
    <mat-icon>add</mat-icon>Create page
</button>
<form *ngIf="isOpen" [formGroup]="form" #formDirective="ngForm" (ngSubmit)="onSubmit(form.value)" novalidate>
    <mat-form-field>
        <mat-label color="primary">Title</mat-label>
        <input matInput formControlName="title"/>
    </mat-form-field>
    <mat-form-field>
        <mat-label color="primary">Page Body</mat-label>
        <input matInput formControlName="body"/>
    </mat-form-field>
    <button color="primary" [disabled]="!form.valid" mat-raised-button type="submit"><span>Post</span></button>
</form>